body {
    background-image: url("../img/1186452.jpg");
    background-color: #cccccc;
    text-align: center;
    display: inline-block;
    margin: 5px;
    background-position: center;
    background-repeat: no-repeat;
}
 